p {
  color: green;
  font-size: 150%;
  font-style: oblique;
  font-family: fantasy;
}
#my-portrait {
    width: 375px;
}
ul {
  color: yellow;
  font-size: 150%;
  font-style: oblique;
  font-family: fantasy;
}
a {
  color: blue;
  font-size: 125%;
  font-style: oblique;
  font-family: fantasy;
}
