p {
  color: green;
  font-size: 150%;
}
h1 {
  color: darkblue;
  font-size: 300%;
  font-style: oblique;
}
#content {
  width: 803px;
  height: 1000;
  margin: auto;
  padding: 4px 6px;
  float: center;
  background-color: lightgray;
  outline: 1px solid black;
}
