#greeting {
  font-size: 25px;
  color: blue;
}
#output {
  font-size: 20px;
  color: green;
}
#content {
  width: 803px;
  height: 1000;
  margin: auto;
  padding: 4px 6px;
  float: center;
  background-color: lightgray;
  outline: 1px solid black;
}
#back {
  font-size: 25px;
  color: blue;
}
#font {
font-size: 25px;
}
