body {
  background-image: url("../img/fire.jpg");
  background-position: center;
  background-size: cover;
}
h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: red;
  font-size: 600%
}
p {
  color: yellow;
  font-size: 300%
}

}
