background-imgage src ="C:\Users\ggoda\OneDrive\Desktop\art101\lab2\img\fire.jpg" width="500" height="500">
h1 {
  color: black;
  font: 60px/60px
}
p {
  color: red;
  font: 20px/14px sans-serif;
  background-color: blue;
}

}
